<ul class="nav nav-tabs">
    <li role="presentation"{% if request.endpoint == "contest.detail" %} class="active"{% endif %}>
      <a href="{{ url_for('contest.detail', contest_id=contest.id) }}">Overview</a>
    </li>
    <li role="presentation"{% if request.endpoint == "contest.contest_problem" %} class="active"{% endif %}>
      <a href="{{ contest.problems[0].url }}">Problem</a>
    </li>
    <li role="presentation"{% if request.endpoint == "contest.solution" %} class="active"{% endif %}>
      <a href="{{ url_for('contest.solution', contest_id=contest.id) }}">Solution</a>
    </li>
    <li role="presentation"{% if request.endpoint == "contest.rank" %} class="active"{% endif %}>
      <a href="{{ url_for('contest.rank', contest_id=contest.id)}}">Rank</a>
    </li>
</ul>
