{% extends "layout.html" %}

{% block title %}Online Judge - Code - {{ code.id }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/highlight.css') }}">
{% endblock %}

{% block page_content %}
<div>
    <div>
        <div>
            <h3 class="text-center">View Code<br>
                <small>Problem ID: {{ solution.problem_id }}&nbsp;&nbsp;Username: {{ solution.user.username }}&nbsp;&nbsp;Nickname: {{ solution.user.nickname }}<br>
                    Time: {{ solution.take_time }}MS&nbsp;&nbsp;Memory: {{ solution.take_memory }}KB<br>
                    Language: {{ solution.program_language }}&nbsp;&nbsp;Result: {{ SOLUTION_RESULT[solution.result] }}<br>
                    {{ solution.date_created.strftime('%Y-%m-%d %H:%M:%S') }}
                </small></h3>
        </div>
        <div class="center-block col-md-4" style="float: none">
            {{ code.content|highlight }}
        </div>
    </div>
</div>
{% endblock %}
