{% extends "contest_detail.html" %}

{% block title %}Online Judge - Contest Access required -{% endblock %}

{% block detail %}
  <div class="access_required_form">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div id="lock_input">
          <div class="input-group">
            <input type="password" class="form-control" name="password" placeholder="Password Required">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-lock"></i></button>
            </span>
          </div>
        </div>
      </form>
  </div>
{% endblock %}
