{% extends "layout.html" %}

{% block title %}Online Judge - Contest - {{ contest.id }}{% endblock %}

{% block page_content %}
{% include '_contest_nav.html' %}
<div class="row">
    <div class="text-center">
        <div>
            <h2>{{ contest.name }}</h2>
            <div id="contest_info">
              <table style="width:100%">
                <tbody>
                  <tr>
                    <td class="contest_detail"> Contest Type: {{ contest.type|title }} </td>
                    <td class="contest_time" id="current_time"> Current Time: {{ now.strftime('%Y-%m-%d %H:%M:%S') }} </td>
                  </tr>
                  <tr>
                    <td class="contest_detail" id="contest_status"> Contest Status: {{ contest.status|title }} </td>
                    <td class="contest_time"> Start Time: {{ contest.date_start.strftime('%Y-%m-%d %H:%M:%S') }} </td>
                  </tr>
                  <tr>
                    <td class="contest_detail"> Manager: {{ contest.user.username }}</td>
                    <td class="contest_time"> End Time : {{ contest.date_start.strftime('%Y-%m-%d %H:%M:%S') }} </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p class="text-center">{{ contest.description|safe }}<p>
        </div>
        <div id="contest_overview">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th style="width:5%"></th>
                <th style="width:5%">#</th>
                <th>Title</th>
                <th style="width:10%"></th>
                <th style="width:10%">AC/Submit</th>
              </tr>
            </thead>
            <tbody>
              {% for problem in contest.problems %}
              <tr>
                  <td>
                  {% if problem.current_user_has_solved %}
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  {% elif problem.current_user_has_submitted %}
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  {% endif %}
                  </td>
                  <td style="text-align:left"><a href="{{ problem.url }}">{{ loop.index0|digital_to_letter }}</a></td>
                  <td style="text-align:left"><a href="{{ problem.url }}">{{ problem.name }}</a></td>
                  <td><a href="{{ problem.url }}#problem_submit" ><i class="fa fa-rocket"></i></a></td>
                  <td>{{ problem.accepts_count }} / {{ problem.solutions_count }}</td>
              <tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}
