{% extends "contest_layout.html" %}

{% block title %}Online Judge - Contest - {{ contest.id }}{% endblock %}

{% block page_content %}
<div>
    <div>
        <div>
            <h3 class="text-center">{{ contest.name }}<br>
                <small>
                    Start Time: {{ contest.date_start.strftime('%Y-%m-%d %H:%M:%S') }}&nbsp;&nbsp;
                    End Time: {{ contest.date_start.strftime('%Y-%m-%d %H:%M:%S') }}<br>
                    Contest Type: {{ contest.type|title }}&nbsp;&nbsp;
                    Contest Status: {{ contest.status|title }}<br>
                    Server Time: {{ now.strftime('%Y-%m-%d %H:%M:%S') }}<br>
                </small>
            </h3>
            <p class="text-center">{{ contest.description|safe }}<p>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Solved</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Accepted</th>
                        <th>Submit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in contest.problems %}
                    <tr>
                        <td>
                        {% if problem.current_user_has_solved %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elif problem.current_user_has_submitted %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                        </td>
                        <td><a href="{{ problem.url }}">{{ loop.index0|digital_to_letter }}</a></td>
                        <td><a href="{{ problem.url }}">{{ problem.name }}</a></td>
                        <td>{{ problem.accepts_count }}</td>
                        <td>{{ problem.solutions_count }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
