{% extends "layout.html" %}

{% block title %}Online Judge - Contest Problem - {{ contest_problem.id }}{% endblock %}

{% block page_content %}
{% include '_contest_nav.html' %}
<nav class="text-center">
  <ul class="pagination">
    {% for problem in contest.problems %}
    <li><a role="presentation" href="{{ problem.url }}">{{ loop.index0|digital_to_letter }}</a></li>
    {% endfor %}
  </ul>
</nav>
<div class="row">
    {% include '_problem.html' %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/ace/ace.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='scripts/ace_editor.js') }}" type="text/javascript"></script>
{% endblock %}
