{% extends "contest_layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Online Judge - Contest Submit{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 class="text-center">Submit Your Solution</h1>
</div>
<div class="col-md-8 col-md-offset-2">
    <form method="post">
        {{ wtf.form_field(form.contest_problem_id) }}
        {{ wtf.form_field(form.language) }}
        {{ wtf.form_field(form.code, rows=15) }}
        {{ wtf.form_field(form.submit) }}
        {{ form.csrf_token }}
    </from>
</div>
{% endblock %}
