{% extends "bootstrap/base.html" %}

{% block title %}SDUT Online Judge{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css')}}">
{% endblock %}

{% block navbar %}
<div class="wrapper">
    <div class="header no-print" data-swiftype-index="false">
        <div class="topbar">
            <div class="container">
                <div id="bulletins">
                  <ul class="bulletin left">
                      {% for headline in get_headlines() %}
                      <li>
                        <a href="{{ headline.url or '#' }}" class="{{ headline.alert }}">{{ headline.title }}</a>
                      </li>
                      {% endfor %}
                  </ul>
                </div>
                <ul class="loginbar pull-right">
                    {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('profile.profile', user_id=current_user.id) }}"><i class="fa fa-user fa-fw"></i> PROFILE</a></li>
                    <li class="topbar-devider"></li>  
                    <li><a href="{{ url_for('auth.logout') }}">LOGOUT</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">LOG IN</a></li>
                    <li class="topbar-devider"></li>  
                    <li><a href="{{ url_for('auth.signup') }}">SIGN UP</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <!--img id="logo-header" src="" alt="Logo" data-retina="" style="height: 40px"-->
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if request.endpoint == 'news.list' %} class="active"{% endif %}>
                            <a href="{{ url_for('news.list') }}"><i class="fa fa-quote-right"></i> NEWS</a>
                        </li>
                        <li{% if request.endpoint == 'problem.list' %} class="active"{% endif %}>
                            <a href="{{ url_for('problem.list') }}"><i class="fa fa-puzzle-piece"></i> PROBLEMS</a>
                        </li>
                        <li{% if request.endpoint == 'contest.list' %} class="active"{% endif %}>
                            <a href="{{ url_for('contest.list') }}"><i class="fa fa-users"></i> CONTESTS</a>
                        </li>
                        <li{% if request.endpoint == 'solution.list' %} class="active"{% endif %}>
                            <a href="{{ url_for('solution.list') }}"><i class="fa fa-cogs"></i> STATUS</a>
                        </li>
                        <li{% if request.endpoint == 'rank.list' %} class="active"{% endif %}>
                            <a href="{{ url_for('rank.list') }}"><i class="fa fa-trophy"></i> RANKS</a>
                        </li>
                        {% if current_user.is_administrator() -%}
                        <li><a href="{{ url_for('admin.index') }}"><i class="fa fa-tachometer"></i> 管理后台</a></li>
                        {%- endif %}
                        <li>
                          <i class="search fa fa-search search-btn"></i>
                          <div class="search-open">
                              <div class="animated fadeInDown">
                                  <input type="text" class="st-default-search-input form-control" id="header-search" autocomplete="off" autocorrect="off" autocapitalize="off">
                              </div>
                          </div>    
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">{% block breadcrumbs %}{% endblock %}</h1>
    </div>
</div>
{% block home %}{% endblock %}
<div class="container content">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% block footer %}
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">&copy; 2015 SDUTACM - All Rights Reserved.</p>
    </div>
</footer>
{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/bulletin.js') }}"></script>
<script>
$(document).ready(function(){
    $("#bulletins").Scroll({line:1,speed:1000,timer:5000});
});
</script>
{% endblock %}
