{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}Online Judge - Problem List{% endblock %}

{% block breadcrumbs %}PROBLEMS{% endblock %}

{% block page_content %}
<div>
    <div>
        {{ wtf.quick_form(form, form_type="inline", method="get") }}
    </div>
    <div class="margin-bottom-20"></div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>PID</th>
                    <th>Title</th>
                    <th>Ratio</th>
                    <th>AC/Submit</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>
                        {% if problem.current_user_has_solved %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% elif problem.current_user_has_submitted %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td><a href="{{ problem.url }}">{{ problem.id }}</a></td>
                    <td><a href="{{ problem.url }}">{{ problem.title }}</a></td>
                    <td>{{ problem.ratio }}</td>
                    <td>({{ problem.accepts_count }}/{{ problem.solutions_count }})</td>
                    <td>{{ problem.date_created.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination is defined %}
        <div class="pagination">
            {{ render_pagination(pagination, 'problem.list') }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
