{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block title %}
{% if request.endpoint == 'contest.solution' %}
Online Judge - Contest #{{ contest.id }} - Solution
{% else %}
Online Judge - Solution List
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if request.endpoint == 'contest.solution' %}
CONTEST #{{ contest.id }}
{% else %}
STATUS
{% endif %}
{% endblock %}

{% block page_content %}
{% if request.endpoint == 'contest.solution' %}
{% include '_contest_nav.html' %}
{% endif %}
<div>
    <div>
        {{ wtf.quick_form(form, form_type="inline", method="get") }}
    </div>
    <div class="margin-bottom-20"></div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Run ID</th>
                    <th>Nickname</th>
                    <th>Problem ID</th>
                    <th>Result</th>
                    <th>Time</th>
                    <th>Memory</th>
                    <th>Language</th>
                    <th>Code Len</th>
                    <th>Submit Time</th>
                </tr>
            </thead>
            <tbody>
                {% for solution in solutions %}
                <tr>
                    <td>{{ solution.id }}</td>
                    <td><a href="{{ solution.user.url }}">{{ solution.user.nickname }}</a></td>
                    {% if request.endpoint == 'contest.solution' %}
                    <td><a href="{{ solution.contest_problem.url }}">{{ solution.contest_problem.id }}</a></td>
                    {% else %}
                    <td><a href="{{ solution.problem.url }}">{{ solution.problem.id }}</a></td>
                    {% endif %}
                    <td>{{ SOLUTION_RESULT[solution.result] }}</td>
                    <td>{{ solution.take_time }}MS</td>
                    <td>{{ solution.take_memory }}KB</td>
                    <td>
                        {% if current_user.id == solution.user_id %}
                        <a href="{{ solution.code.url }}">{{ solution.program_language }}</a>
                        {% else %}
                        {{ solution.program_language }}
                        {% endif %}
                    </td>
                    <td>{{ solution.length }}</td>
                    <td>{{ solution.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination is defined %}
        <div class="pagination">
            {{ render_pagination(pagination, request.endpoint) }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
