{% extends "layout.html" %}

{% block page_content %}
    {% if current_user.is_authenticated() %}
      <h1>Hello {{ current_user.username }}!</h1>
    {% else %}
      <h1>Hello World!</h1>
    {% endif %}
    {% for data in [day_top, week_top, month_top, year_top] %}
    <div class="col-md-3">
        <h3 class="text-center"> {{ data.1 }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Solved</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data.0 %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('profile.profile', user_id=d.1) }}">{{ d.2 }}</a></td>
                    <td>{{ d.0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
{% endblock %}
