<!DOCTYPE html>
<html>
  <head>
    {% block title %}
    <title>Online Judge</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    {% block style %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <a class="brand" href="{{ url_for('index.index') }}">Online Judge</a>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block js %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
