.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    bborder-top: 1px solid #e0e0e0;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

pre {
    border: 0px;
}

p {
    margin: 0px;
}

/*
 * problem
 */

#problem_head {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px
}

#problem_head h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 34px;
}

#problem_body {
    margin-top: 20px;
    margin-bottom: 20px
}

#problem_title {
    display: inline-block;
}

#problem_info {
    display: inline-block;
}

#problem_info span {
    margin-left: 20px;
    font-size: 12px;
    color: #31708f
}

#problem_description {
    padding-left: 20px;
    border-left: 3px solid #ddd;
}

#problem_input {
    border: 1px;
    border-style: dashed;
    padding: 20px;
} 

#problem_output {
    border: 1px;
    border-style: dashed;
    padding: 20px;
}

#problem_sampleinput {
    border: 0px;
    border-radius: 0px;
    border-top: 3px solid #ddd;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-x: auto;
}

#problem_sampleoutput {
    border: 0px;
    border-radius: 0px;
    border-top: 3px solid #ddd;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-x: auto;
}

/*
 * Contest
 */

#contest_info{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px
}

#contest_overview{
    width: 75%;
    margin: 20px auto;
}

.contest_time{
    width: 50%;
    text-align: left;
    padding-left: 10px;
}

.contest_detail {
    width: 50%;
    text-align: right;
    padding-right: 10px;
}

/*
 * auth
 */

.auth_form {
    margin-top: 20px;
}

/*
 * Profile
 */

.one-fifth{
    width: 20%
}

.one-fifth>h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    color: black;
}

.one-half{
    width: 49%
}

.two-thirds {
    width: 66.66666%;
}

.one-fifth>p {
    width: 100%;
    font-size: 20px;
    color: #666;
}

.four-fifth{
    width: 80%
}

.main{
    padding-left: 20px;
}

.vcard-avatar{
    border-radius: 5px;
}

.panels{
    margin-top: 20px
}

.vcard-names{
    margin-top: 10px;
}

.vcard-nickname{
}

.vcard-username{
    font-size: 24px;
    color: #666;
}

.vcard-details{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-top: 1px solid #eee;
    list-style: none;
}

.vcard-detail{
   width: 100%;
   padding: 2px 0 2px 24px;
   font-size: 14px;
}

.vcard-detail>.glyphicon {
    float: left;
    width: 16px;
    text-align: center;
    margin-left: -24px;
    color: #ccc;
    padding-top: 1px
}

.vcard-stats {
    padding-top:15px;
    padding-bottom: 15px;
    border-top:1px solid #eee;
    text-align: center;
}

.vcard-stat {
    float: left;
    width: 33.333%;
    font-size: 11px;
    text-transform: capitalize;
}

.vcard-stats:hover {
    text-decoration: none;
}

.vcard-stat-count {
    display:block;
    line-height:1;
    font-weight: bold;
    font-size: 28px;
}

.text-muted {
    color: #767676;
}

.clearfix {
    padding: 13px 0;
}

.column {
    padding-left:15px;
}

dl.form {
    margin:15px 0;
}
dl.form>dt {
    margin: 0 0 6px;
}

.avatar-picture {
    height: auto;
    border-radius: 3px;
}

.avatar-upload {
    width: 80%;
    float: right;
}

.avatar-upload-default {
    padding: 10px 0;
    font-size: 12px;
    color: #767676;
}

.right{
    float: right;
}

.left{
    float: left;
}

/*
 * breadcrumbs
 */

.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../images/breadcrumbs.png) repeat
}

.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}

* {
    border-radius: 0!important;
}

.table thead>tr>th {
    border-bottom: none;
}

/*
 * blue
 */

.header .navbar-default .navbar-nav>.active>a {
    border-color: #3498db;
}

.header .navbar-default .navbar-nav>.active>a {
    color: #3498db;
}

.wrapper {
    background: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.content {
    padding-top: 20px;
    padding-bottom: 40px;
}

.content-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav .pagination {
    margin: 0px;
}

/*
 * home
 */

.section-main {
    background: linear-gradient(135deg, #32d1ac 0%, #4a90e2 100%)
}

h1.title-v2.title-center, h2.title-v2.title-center, h3.title-v2.title-center {
    text-align: center;
}

h2.title-v2 {
    font-size: 32px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.content-horizontal-rule{
    width: 64px;
    height: 2px;
    background: #bfc3c8;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20px
}

.headline {
    display: block;
    margin: 20px 0 20px 0;
    border-bottom: 1px dotted #e4e9f0;
}

.headline h3 {
    border-bottom: 2px solid #3498db;
    margin: 0 0 -2px 0;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 22px;
}

.section-counter {
    padding: 70px 0;
    background: url(../images/breadcrumbs.png) repeat
}

.section-counter .counters {
    color: #fff;
    padding: 15px 0 10px;
    border: solid 1px rgba(154, 192, 215, 0.29);
    text-align: center
}

.section-counter .counters span.counter {
    font-size: 42px;
    line-height: 48px;
    color: #3498db;
    font-family: 'Lato', sans-serif;
}

.section-counter h4 {
    color: #bbb;
    font-size: 16px;
    text-transform: uppercase;
}

